.sidebar{
    background-color: #fff !important;
}
.navigation li {
    border-top: 1px dashed !important;
}
.navigation li a {
    color: #10416A;
}
.navigation li + li {
    border-top: 1px dashed darkblue !important;
}
.navigation li.navigation-divider{
    border-top: none !important;
}
.navigation .navigation-header, .navigation .navigation-header a {
    color: #10416A;
    font-weight: 400;
}
.navigation li a:focus, .navigation li a:hover {
    background-color: #d9d9d9 !important
    color: #10416A;
}

.navigation .navigation-header > span {
    font-weight: bold;
}
